.notification-page {
    color: var(--D-font-color);
}

.noti-header {
    padding: 0px 20px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    width: 93%;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: rgba(27, 27, 27, 0.61);
    backdrop-filter: blur(6px);
}

.noti-list {
    margin-top: 20px;
}