.notification-page {
    color: var(--font-color);
}

.noti-header {
    padding: 0px 20px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    width: 93%;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: var(--glassEffect);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.noti-list {
    margin-top: 0px;
}