.settings {
    color: var(--font-color);
    position: relative;
    width: 100%;
}

.setting_header {
    padding: 0px 20px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    width: 92.5%;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: var(--glassEffect);
}
.setting_options {
    margin-top: 20px;
}
.setting-btns {
    padding: 0px 20px;
    width: 92.5%;
    height: 5rem;
    background-color: var(--card-child-color);
    border: 1px solid var(--border-color);
    display: flex;  
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}

.setting-btns:hover {
    background-color: var(--card-hover-color);
}