@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
  /* Border colors */
  --L-border-color: #ebebeb;
  --D-border-color:#4e4d4d;
  /* Brand Color */
  --Brand-color:#3383d2;
  --B-L-hover-color: #e8f5fe;
  /* --B-D-hover-color: */
  /* Background color */
  --LightMode:rgb(255, 255, 255);
  --DarkMode: rgb(57, 57, 57);
  /* Font colors */
  --L-font-color: rgb(0, 0, 0);
  --D-font-color:rgb(255, 255, 255);
  /* Highlighted Background */
  --H-background-color:rgb(27, 27, 27);
  --H-L-background-color:  rgb(49, 49, 49); /*Light in color for lists*/
  --H-hover-background-color: #1f1f1f; /*Hover effect color*/
}

body {
  background-color: var(--DarkMode);
}
.App {
  font-family: 'Inter', sans-serif;
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

@media (max-width: 760px) {
  .App {
    margin-left: 0;
    padding: 0px 0px 0px 10px;
  }
}