@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
/* ----------------- Do not touch ----------------*/
  /* Border colors */
  --L-border-color: #cacaca;
  --D-border-color:#4e4d4d;
  /* Brand Color */
  --Brand-color:#3383d2;
  --Brand-hover-color: #2869a9;
  --B-L-hover-color: #e8f5fe;
  /* --B-D-hover-color: */
  /* Background color */
  --LightMode:rgb(255, 255, 255);
  --DarkMode: rgb(0, 0, 0);
  /* Font colors */
  --L-font-color: rgb(0, 0, 0);
  --D-font-color:rgb(255, 255, 255);
  /* Highlighted Background */
      /* Ligh themed */
  --H-Light-background-color: rgb(228, 228, 228);
  --H-Light-L-background-color: rgb(240, 240, 240);
  --H-Light-hover-background-color: rgb(185, 185, 185);
      /* Dark themed */
  --H-background-color:rgb(20, 20, 20);
  --H-L-background-color:  rgb(16, 16, 16); /*Light in color for lists*/
  --H-hover-background-color: #1e1e1e; /*Hover effect color*/
  /* Inputs */
  --input-background-color: #cfcfcf;

  /* Activness */
  --D-active: #646464;
  --L-active: rgb(173, 173, 173);

  /* Glass effect */
  --L-ge:  rgba(167, 167, 167, 0.61);
  --D-ge:  rgba(27, 27, 27, 0.61);

  /* Dark colors */
  --L-color: rgb(158, 158, 158);
  --D-color: #000000;

  /* Dark active colors*/
  --side-light: #c3c3c3;
  --side-dark: rgb(12, 12, 12);
/* ------------------------------------------------------- */

  /* ---------- Plz use the following vars ---------------*/
  --background-color: var(--DarkMode);
  --font-color: var(--D-font-color);
  --card-color: var(--H-background-color);
  --card-child-color: var(--H-L-background-color);
  --card-hover-color: var(--H-hover-background-color);
  --border-color: var(--D-border-color);
  /* --active: var(--D-active); Do not use! problem in active */
  --glassEffect: var(--D-ge);
  --Dark-color: var(--D-color);
  --sidebar-active: var(--side-dark);
}

body {
  background-color: var(--background-color);
}
.App {
  font-family: 'Inter', sans-serif;
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

@media (max-width: 760px) {
  .App {
    margin-left: 0;
    padding: 0px 0px 0px 10px;
  }
}