.comment{
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    

}
.cmt-left{
    
    position: relative;
}
.below-avatar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78%;
}
.below-avatar .straightLine{
    display: none;
    height: 100%;
    width:2px;
    background-color: var(--border-color);
}
.cmt-right{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.cmt-right-top{
    display: flex;
    justify-content: space-between;
}
.cmt-userInfo{
    display: flex;
    
}
.cmt-username{
    font-weight: bold;
}
.cmt-username:hover{
    text-decoration: underline;
    cursor: pointer;
}
.cmt-userat{
    opacity: 60%;
}
.comment .cmt-more{
    color: gray;
}
.comment .cmt-more:hover{
    color: var(--Brand-color);
    background-color: var(--Brand-hover-color);
}
.cmt-right-middle{
    display: flex;
    flex-direction: column;
    
}
.cmt-responding-to{
    color: gray;
    font-weight:lighter;

}
.cmt-Options{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    /* padding: 1em 0rem; */
}
._cmt-Options{
    margin-top: 0.5rem;
    color: var(--Brand-color);
    
    /* padding: 10px 30px 10px 0px; */
}
._cmt-Options:hover{
    filter: brightness(250%);
    cursor: pointer;
}
.replying{
    display:none;
}
.cmt-right-middle img{
    margin-top:1em;
    max-height: 50vh;
    border-radius: 0.5rem;
    max-width: 100%;
    object-fit: cover;
        
}
/* .cmt-Options{
    display: none;
} */

.postOptionsMainDiv{
    position:relative;
}

.post_options_dialog{
    box-sizing: border-box;
    position: absolute;
    top:100%;
    width: 100%;
    background-color: var(--card-color);
    color: var(--font-color);
    text-align: center;
    filter: contrast(90%);
    border: 0;
    padding: 1em 0;
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px; */
    box-shadow: var(--Inverted-color) 0px 0px 15px, var(--Inverted-color) 0px 0px 3px 1px;
    border-radius: 0.5em;
    z-index: 99;
}
.postDelButton{
    border: none;
    background: transparent;
    height: 100%;
    width: 100%;
    color:var(--font-color);
    font-weight:bolder;
}
.postDelButton:hover{
    cursor: pointer;
}
.post_options_dialog:hover{
    background-color: var(--sidebar-active);
    cursor: pointer;
}
.childComments{
    margin-left: 1em;
}
/* .linebreak{
    width: 100%;
    border-bottom: 1px solid var(--border-color);
} */