/* * {
    margin: 0%;
    padding: 0%;
} */

.feed {
    flex: 0.45;
    border-right: 1px solid var(--D-border-color);
    min-width: fit-content;
    overflow-y: scroll;
    z-index: 1;
}
.feed__header {
    position: sticky;
    top: 0;
    background-color: var(--H-background-color);
    color: var(--D-font-color);
    z-index: 100;
    border: 1px solid var(--border-color);
    padding: 15px 20px;
}
.feed::-webkit-scrollbar {
    display:none
}

@media (max-width: 760px) {
    .feed {
      flex: 8;
    
    }
  }