.noti-unit {
    max-width: 93%;
    display: flex;
    align-items: center;
    background-color: var(--card-child-color);
    gap: 20px;
    /* height: fit-content; */
    min-height: 2.5rem;
    padding: 10px 20px;
    flex-grow: 1;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: background-color 0.15s ease;
    font-size: 1em;
    max-height: 2.5rem;
}

.noti-unit:hover {
    background-color: var(--card-hover-color);
}
.noti-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100px;
    object-fit: cover;
}

.noti-text {
    display: flex;
    align-items: flex-start;
    max-height: 2.5rem;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
