
.post{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    background-origin: var(--card-color);
    display: flex;
    /* margin-top: 1rem; */
    cursor: pointer;
    width: 100%;
    gap: 1rem;
    border-bottom:1px solid var(--border-color);
    padding: 1em;
    

    
}
.post:hover{
    background-color: var(--sidebar-active);
}
.post_body{
    flex-grow: 1;
    
    
}
.post_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: top;
    max-height: fit-content;
}
.post_top_userinfo{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.post_username{
    font-weight:bold;
}
.post_username:hover{
    text-decoration: underline;
}
.post_info{
    filter: opacity(60%);
    
}
.post .post_top_options_iconbutton{
    color:gray;
}
.post .post_top_options_iconbutton:hover{
    color:var(--Brand-color);
    background-color:var(--glassEffect);
    
    
}
/* .more{
    color: var(--Brand-color);
    filter: grayscale();
} */
.more:hover{
    filter:none;
    
}

.post span{
    font-size: medium;
}
.post_content{
    
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 0.5rem;
    
}

.post_content span{
    
    white-space: normal;
    word-break: break-word;
    
}

.post_content img{
    
    max-height: 50vh;
    border-radius: 0.5rem;
    max-width: 100%;
    object-fit: cover;
        
}

.post_options {
    display: flex;
    margin-top: 10px;
    
}

._postoptions{
    margin-top: 0.5rem;
    color: var(--Brand-color);
    padding: 10px 30px 10px 0px;
}
._postoptions:hover{
    filter: brightness(250%);
}

.post_comment_input{
    border: none;
    border-radius:1em ;
    max-height: 80vh;
    min-height: 60vh;
    width: 40%;
    margin: auto;
    background-color: var(--background-color);
    color: var(--font-color);
    /* backdrop-filter:blur(3px) ; */
}
.post_comment_input_display{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.postCommentCloseButton{
    flex: 1;
}
.postCommentClose{
    color: var(--font-color);
}
.post_comment_input::backdrop{
    /* background-color:var(--glassEffect); */
    backdrop-filter: contrast(80%);
}
.belowAvatar{
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.straightLine{
    height: 100%;
    width: 2px;
    background-color: var(--border-color);
}
.mainPost{
    display: flex;
    padding: 1rem;
    gap: 1rem;

}
.replyMaintext{
    margin-top: 2px;
}
.userReply{
    width: 100%;
}
/* .replyingTo{
    display: flex;
} */
.threadLink{
    display: none;
}   