/* * {
    margin: 0%;
    padding: 0%;
} */
.decentra {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.decentra > img {
    width: 3rem;
    height: 3rem;
}
.decentra>h1 {
    display: block;
}
.sidebar {
    border-right: 1px solid var(--border-color);
    color: var(--font-color);
    flex: 0.25;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    /* min-width: 200px; */
}

@media (max-width: 760px) {
    .sidebar {
      flex:0;
      padding-right: 10px;
      padding-left: 0;
    }
    .decentra > h1 {
        display: none;
    }
  }