.sidebarOptions {
    display: flex;
    align-items: center;
    cursor: pointer;
   /* gap: 1rem; */
   color: var(--D-font-color);
   padding: 0px 10px;
   text-decoration: none;
   transition: background-color 0.12s ease;
}
.sidebarOptions>.MuiSvgIcon-root {
    padding: 10px 30px 10px 0px;
}
.MuiSvgIcon-root {
    padding: 10px 30px 10px 0px;
}
.sidebarOptions:hover {
    background-color:  #272727;;
    color: var(--Brand-color);
    /* transition: color 0.1s ease; */
}

.sidebarOptions>h3 {
    display: block;
    margin-right: 20px;
    font-weight: 600;
}

.sidebarOption--active {
    background-color:  #272727;
    color: var(--Brand-color);
}

.active-icon {
    width: fit-content;
    display: flex;
    height: fit-content;
    align-items: center;
    margin-right: 30px;
}
#circle {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100px;
    margin-left: -2.5rem;
    margin-top: -1rem;
    background-color: var(--Brand-color);
    border: 1px solid #111;
}

@media (max-width: 760px) {
    .sidebarOptions {
        padding: 0px 0px 0px 0px;
        justify-content: center;
    }

    .sidebarOptions>.MuiSvgIcon-root {
        padding: 10px 0px 10px 0px;
    }

    .sidebarOptions>h3 {
      display: none;
      margin-right: 0%;
    }

    .active-icon {
        margin-right: 0px;
    }
  }