.trend{
    display: flex;
    flex-direction: column;
    gap: 0.175em;
    padding:10px 10px 10px 15px;
    cursor: pointer;
    background-color: var(--card-color);
}
.trend:hover{
    background-color: var(--card-hover-color);
}
/* .trend:hover{
    filter: brightness(150%);
} */
.trend-top{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trend .button{
    padding: 0.3rem 0.3rem;
    color: gray;
}
.trend .button:hover{
    filter: none;
    background-color: var(--glassEffect);
    color: var(--Brand-color);
}
.trend span{
    opacity: 60% ;
    font-size:smaller;
}