.trend{
    display: flex;
    flex-direction: column;
    gap: 0.175em;
    padding:10px 10px 10px 15px;
    cursor: pointer;
    background-color: var(--H-background-color);
}
.trend:hover{
    
    filter:contrast(90%);
}

.trend-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.trend .button{
    
    /* border-radius: 50% !important; */
    color: var(--Brand-color);
    filter:grayscale();
    padding: 3px 6px;
   
}
.trend .button:hover{
    filter:none;
    
}
span{
    opacity: 60% ;
    font-size:smaller;
}