.tweetbox{
    padding: 1.2rem;
    background-color: var(--background-color);
    display: flex;
    gap: 1rem;
    align-items: center;
    min-width: 360px;
    border-bottom: 1px solid var(--border-color);
}
.avatar{
   align-self: start;
}
.datafield{
    
    width:100%;
}
.textfield{
    border-bottom: 1px solid var(--border-color);
    width: 100%; 
}
#tweet_text{
    background-color: transparent;
    border: none;
    width:100%;
    min-height: 4rem;
    max-width: 100%;
    font-size:1.5em;
    color: var(--font-color);
    resize: none;
    padding: 10px;
      
}
#tweet_text:focus{
    outline-width:0 ;
}
textarea{
    font-family: inherit;
}
textarea::-webkit-scrollbar{
    width: 0;
}

.bottomfield{
    margin-top:10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.media_icons{
    display: flex;
    /* gap: 0px; */
    color:var(--Brand-color);
    overflow: hidden;
    
}
._options{
    padding: 10px 30px 10px 0px;
}
._options:hover{
    filter:brightness(250%);
    cursor: pointer;
    
}
.previewImage{
    position: relative;

}
.previewImage>svg{
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    cursor: pointer;
    /* background-color: var(--font-color); */
    background-color: var(--Dark-color);
    filter: opacity(80%);
    padding: 5px;
    border-radius: 100px;
}

.previewImage>img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}