.user-unit {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
    cursor: pointer;
    background-color: var(--card-child-color);
    border: 1px solid var(--border-color);
    transition: background-color 0.15s ease;
}

.user-unit:hover {
    background-color: var(--card-hover-color);
}

.u_avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
}

.u-name {
    font-size: 1.1em;
    font-weight: lighter;
    color: var(--font-color);
}

/* .u-follow {
    margin-left: auto;
    width: 15%;
    height: 2rem;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--Brand-color);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.u-follow:hover {
    background-color:  #2362a1;
} */


