.account {
    color: var(--font-color);
    width: 100%;
    height: 39rem;
}

.account_header {
    padding: 0px 20px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    width: 93%;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color:var(--glassEffect);
    backdrop-filter: blur(6px);
}

.account >h6 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1em;
    width: fit-content;
    font-weight: lighter;
    
}
h6 > span {
    color: var(--Brand-color);
    font-weight: bold;
    font-size:1.1em;
}
/* Form styling */
.form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}
.form > h6 {
    font-size: 1.4em;
    width: fit-content;
    padding: 0px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-fields {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.form-duo {
    display: flex;
    width: 42%;
    flex-direction: column;
}
.form-triplet {
    display: flex;
    width: 25%;
    flex-direction: column;
}
input[type="text"] {
    width: 99%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(102, 51, 153, 0);
    font-size: 1em;
    border: 1px solid var(--border-color);
    color: var(--font-color);
    padding: 0px 10px;
}
input[type="number"], .dropdown-options {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding: 0px 10px;
background-color: rgba(255, 0, 0, 0);
border: 1px solid var(--border-color);
color: var(--font-color);
}

.form-images {
    width: 100%;
    height: 13rem;
    background-color: rgb(167, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

#form-avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    border: 1px solid #111;
}

input[type="file"] {
	width: 100%;
	color: transparent;
}
input[type="file"]::-webkit-file-upload-button {
	width: 100%;
	height: 40px;
	font-family: "Inter";
	font-size: 1.2em;
	border: 1px solid black;
    background-color: rgba(102, 51, 153, 0);
    color: white;
    cursor: pointer;
    border: 1px solid var(--border-color);
    color: var(--font-color);
}

.form-save {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    padding: 0 20px;
    height: 10rem;
    align-items: flex-start;
}

.form-save>button {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--Brand-color);
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}
.form-save>button[disabled] {
    color: #999999;
    background-color: #dddddd;
  }
  .form-save>button[disabled]:hover {
    color: #999999;
    background-color: #dddddd;
  }

.form-save>button:hover {
    background-color: var(--Brand-hover-color);
}

.prev-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 13rem;
    background-color: #11111100;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.prev_avatar {
    width: 6rem;
    height: 6rem;
    box-shadow: #090909 0px 0px 20px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form label {
    font-weight: bolder;
}
#close-profile-preview {
    width: 2rem;
    height: 2rem;
    background-color: rgb(25, 25, 25);
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    /* font-family: Helvetica; */
    font-weight: bolder;
    transition: background-color 0.5s ease;
}
#close-profile-preview:hover {
    background-color: rgb(41, 41, 41);
}


.invalid-input {
    border: 2px solid red;
}

select.dropdown-options {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--font-color);
}

select.dropdown-options option {
    /* Styles for the options */
    padding: 20px 0px;
  }

  input[type="date"] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--background-color);
    font-size: 1.2em;
    border: 1px solid var(--border-color);
    color: var(--font-color);
    padding: 0px 10px;
}